@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-transform: lowercase;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #000;
    color: white;
    overflow-x: hidden;
  }
}
