@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-transform: lowercase;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #000;
    color: white;
    overflow-x: hidden;
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes marquee-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 30s linear infinite;
}

.animate-marquee:hover,
.animate-marquee-reverse:hover {
  animation-play-state: paused;
}
